* {
    margin: 0;
    padding: 0;
}

/* div {
    width: 500px;
    height: 500px;
    background-color: lightgrey;
} */
.react-flow {
    height: 90vh;
    width: 100%;
}

.react-flow__renderer{
    height: 90vh;
    width: 100%;
}